In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [ ]:
data = {
    "Color": ["Red", "Blue", "Green", "Red", "Blue", "Red", "Green", "Blue", "Red", "Green"]
}
data = pd.DataFrame(data)

In [3]:
data

   Color
0    Red
1   Blue
2  Green
3    Red
4   Blue
5    Red
6  Green
7   Blue
8    Red
9  Green