In [15]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [16]:
data = {
    "Color": ["Red", "Blue", "Green", "Red", "Blue", "Red", "Green", "Blue", "Red", "Green"]
}
data = pd.DataFrame(data)

In [17]:
data

   Color
0    Red
1   Blue
2  Green
3    Red
4   Blue
5    Red
6  Green
7   Blue
8    Red
9  Green

In [18]:
encoder = LabelEncoder()

In [19]:
data["Color_encoded"] = encoder.fit_transform(data['Color'])

In [20]:
data

   Color  Color_encoded
0    Red              2
1   Blue              0
2  Green              1
3    Red              2
4   Blue              0
5    Red              2
6  Green              1
7   Blue              0
8    Red              2
9  Green              1

In [21]:
#Ordinal Encoding

from sklearn.preprocessing import OrdinalEncoder

In [22]:
data = {
    "Color": ["Red", "Blue", "Green", "Red", "Blue", "Green", "Red", "Green"]
}
df = pd.DataFrame(data)

In [26]:
norminal = OrdinalEncoder(categories=data['Color'])