In [8]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [9]:
data = {
    "Color": ["Red", "Blue", "Green", "Red", "Blue", "Red", "Green", "Blue", "Red", "Green"]
}
data = pd.DataFrame(data)

In [10]:
data

   Color
0    Red
1   Blue
2  Green
3    Red
4   Blue
5    Red
6  Green
7   Blue
8    Red
9  Green

In [11]:
encoder = LabelEncoder()

In [12]:
encoded = encoder.fit_transform(data['Color'])

In [13]:
type(encoded)

numpy.ndarray

In [14]:
pd.concat([data, encoded])

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid