In [107]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [108]:
data = {
    "Color": ["Red", "Blue", "Green", "Red", "Blue", "Red", "Green", "Blue", "Red", "Green"],
    "Category": ["A", "B", "A", "C", "B", "A", "C", "B", "C", "A"]
}
data = pd.DataFrame(data)

In [109]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [110]:
encoded = encoder.fit_transform(data[['Color']]).toarray()

In [111]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [112]:
encoded_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out())

In [113]:
encoded_df

   Color_Blue  Color_Green  Color_Red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0
5         0.0          0.0        1.0
6         0.0          1.0        0.0
7         1.0          0.0        0.0
8         0.0          0.0        1.0
9         0.0          1.0        0.0

In [114]:
# Testing for New Data

new_df = pd.DataFrame(data = ['blue'], columns=['Color'])
encoder.transform(new_df[['Color']]).toarray()

array([[0., 0., 0.]])

In [115]:
encoded_df

   Color_Blue  Color_Green  Color_Red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0
5         0.0          0.0        1.0
6         0.0          1.0        0.0
7         1.0          0.0        0.0
8         0.0          0.0        1.0
9         0.0          1.0        0.0