In [74]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [75]:
data = {
    "Color": ["Red", "Blue", "Green", "Red", "Blue", "Red", "Green", "Blue", "Red", "Green"]
}
data = pd.DataFrame(data)

In [ ]:
#Using Pandas
pdOHE = pd.get_dummies(data = data['Color'], dtype=int)

In [77]:
pdOHE.head()

   Blue  Green  Red
0     0      0    1
1     1      0    0
2     0      1    0
3     0      0    1
4     1      0    0

In [78]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [79]:
encoded = encoder.fit_transform(data[['Color']]).toarray()

In [80]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [81]:
encoded_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out())

In [82]:
encoded_df

   Color_Blue  Color_Green  Color_Red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0
5         0.0          0.0        1.0
6         0.0          1.0        0.0
7         1.0          0.0        0.0
8         0.0          0.0        1.0
9         0.0          1.0        0.0

In [83]:
# Testing for New Data

new_df = pd.DataFrame(data = ['blue'], columns=['Color'])
encoder.transform(new_df[['Color']]).toarray()

array([[0., 0., 0.]])

In [84]:
data = pd.concat([data, encoded_df], axis = 1)

In [85]:
data

   Color  Color_Blue  Color_Green  Color_Red
0    Red         0.0          0.0        1.0
1   Blue         1.0          0.0        0.0
2  Green         0.0          1.0        0.0
3    Red         0.0          0.0        1.0
4   Blue         1.0          0.0        0.0
5    Red         0.0          0.0        1.0
6  Green         0.0          1.0        0.0
7   Blue         1.0          0.0        0.0
8    Red         0.0          0.0        1.0
9  Green         0.0          1.0        0.0