### MCAR (Missing Completely at Random)

Context: Survey papers get damaged by rain randomly.

Missingness has nothing to do with the person’s age, income, or answers, it’s just chance.

Impact: Safe to ignore/delete missing rows, no bias.

### MAR (Missing At Random)

Context: In a survey, young people are less likely to report their income.

Missingness depends on age (observed), but not on the actual income itself.

Impact: Can adjust using observed variables (like age) to reduce bias.

### MNAR (Missing Not At Random)

Context: In the same survey, rich people choose not to report their income.

Missingness depends on the actual income value (unobserved).

Impact: Hardest case, requires special modeling or more data.

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('titanic')

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [7]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [9]:
# Initial shape
df.shape

(891, 15)

In [12]:
# Deleting  the rows to handle missing values
df.dropna(axis = 0).shape

(182, 15)

In [13]:
# Column wise deletion
df.dropna(axis = 1).shape

(891, 11)