In [127]:
# Creating Imbalanced Dataset

import numpy as np
import pandas as pd

In [128]:
np.random.seed(90)

n_samples = 1000
class_ratio =  0.9

n_class_0 = int(n_samples * class_ratio)
n_class_1 = n_samples - n_class_0

In [129]:
print(n_class_0, n_class_1)

900 100

In [130]:
class_0 = pd.DataFrame({'feature_1' : np.random.normal(size = n_class_0, loc=0, scale=1),
                        'feature_2' : np.random.normal(size=n_class_0, loc = 0 , scale = 1),
                        'target' : [0] * n_class_0})
class_1 = pd.DataFrame({'feature_1' : np.random.normal(loc = 0 , scale = 1, size = n_class_1),
                        'feature_2' : np.random.normal(loc = 0 , scale = 1, size = n_class_1),
                        'target' : [1] * n_class_1})

In [131]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [132]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [133]:
#Upsampling

from sklearn.utils import resample

In [134]:
df_major = df[df['target'] == 0]
df_minor = df[df['target'] == 1]

In [135]:
df_minor

     feature_1  feature_2  target
900   1.743452   1.282518       1
901  -1.021364  -0.381812       1
902  -0.400049   1.093905       1
903  -1.107115   1.171848       1
904   0.073391   1.819609       1
..         ...        ...     ...
995   0.988445   1.601265       1
996   0.353573   0.107820       1
997   1.200688  -0.423984       1
998   0.499959   0.233206       1
999  -0.573958   0.594712       1

[100 rows x 3 columns]

In [136]:
df_minor_new = resample(df_minor, replace = True, n_samples=len(df_major), random_state=0)

In [137]:
df_minor_new.shape

(900, 3)

In [138]:
df_upsample = pd.concat([df_major, df_minor_new]).reset_index(drop=True)

In [139]:
df_upsample['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [140]:
#Down Sampling

n_major = df[df['target'] == 0]
n_minor = df[df['target'] == 1]

In [141]:
df_downsample = resample(n_major, replace = False,  n_samples=len(n_minor), random_state=0)

In [142]:
df_down = pd.concat([df_downsample, df_minor]).reset_index(drop = True)

In [143]:
df_down['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64